// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyBxs_Gk-QFSvRUF-PEuHwTOBUZ85CnynjY",
  authDomain: "eventeas-97a59.firebaseapp.com",
  projectId: "eventeas-97a59",
  storageBucket: "eventeas-97a59.appspot.com",
  messagingSenderId: "453420352777",
  appId: "1:453420352777:web:364e0696ec2d54570d3fd8",
  measurementId: "G-TQ60Y15EDL"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);